@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins&display=swap");

body {
  font-family: "DM Serif Display", serif;
  font-family: "Poppins", sans-serif;
  margin: auto;
  background-color: #f3e9d2;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to right, #ffd700, #ffff00e1);
  align-items: center;
  height: 75px;
}

.menu a {
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 18px;
  padding: 14px 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.menu a:hover {
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transform: scale(1.1); /* Zoom effect on hover */
}

.logo {
  height: 170px;
  width: 170px;
  /* margin: 5px 20px; */
}

.right-navbar a {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid black;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 5px;
  transition: all 0.3s;
  background-color: black;
}

.right-navbar a:hover {
  background-color: rgb(255, 0, 234);
  border: none;
  color: white;
  transform: scale(1.1);
}

.banner img {
  width: 100%;
}

/* scholarship  */

.scholarship h1 {
  text-align: center;
  margin-block-end: 2px;
  margin-block-start: 2px;
}

#unlock {
  color: orangered;
  font-size: 30px;
}

#pink {
  color: red;
  font-weight: 900;
  font-size: 40px;
}
#ed {
  font-size: 35px;
  color: rgb(117, 8, 44);
}

.requirements {
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.require-box {
  --border-size: 3px;
  --border-angle: 0turn;
  width: 55%;
  height: 350px;
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(
    to right,
    rgba(241, 241, 112, 0.281),
    #ff9864,
    #ff7a55
  );
  color: black;
  /* border: 3px solid #f59b6e; */
  transition: transform 0.3s;
  box-shadow: 10px 10px 20px 5px rgba(85, 83, 83, 0.342); /* Adjust the shadow properties */
}

.require-box:hover {
  transform: scale(1.1);
}

.property {
  --border-angle: 0turn;
}

.require-box li {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.require-box h2 {
  text-align: center;
  font-size: 25px;
}

.require-box small {
  display: block;
  text-align: center;
}
.require-box h2 small {
  text-align: center;
}
/* scholarship  */

/* scholarship calculator   */
.scholarship-calculator h1 {
  font-size: 30px;
  text-align: center;
}

.scholarship-calculator {
  margin-bottom: 50px;
}

.orange {
  color: #ff7a55;
  font-size: 40px;
}

.discount-calculator {
  display: flex;
  justify-content: center;
}

.form-container {
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 3px solid #ffd90000;
  border-radius: 20px;
  width: 20%;
  background-color: #ffd90041;
}

#name {
  width: 155px;
  height: 1px;
}

/* .form-container h1 {
  width: 70%;
} */

#discount {
  text-align: center;
}

.choose {
  background-color: #ffdac7;
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.choose img {
  padding-left: 30px;
}

.choose p {
  text-align: justify;
  padding: 30px;
}

footer {
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 1308px;
}
/* scholarship calculator   */

/* ///////////////courses page starts //////// */
/* ///////////////////////////////////////////////// */

#hard-pink {
  color: rgb(255, 32, 69);
  font-weight: bolder;
}

.courses {
  margin: auto;
  background-color: #f3e9d2;
  font-family: "DM Serif Display", serif;
  font-family: "Poppins", sans-serif;
}

.course-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
}

.course-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s;
}

.course-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.course-box img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.course-duration {
  color: #888;
  margin: 5px 0;
}

.course-price {
  font-weight: bold;
  margin: 5px 0;
}

.purchase-button {
  display: inline-block;
  padding: 8px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.purchase-button:hover {
  background-color: #45a049;
}

/* * ///////////////////////////////////////////////// */
/* ///////////////courses page endss //////// */

/* blogs part starts  */
.blogs-part {
  margin: auto;
  background-color: #f3e9d2;
  font-family: "DM Serif Display", serif;
  font-family: "Poppins", sans-serif;
}

.blog {
  background-color: rgba(241, 219, 213, 0.753);
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.blog h3 {
  text-align: center;
  font-size: 20px;
  color: purple;
}

#blog-img {
  height: 300px;
  width: 500px;
}

.blog-content {
  display: flex;
  align-items: center;
}

.blog-content img {
  padding-left: 20px;
}
.blog-content p {
  padding: 20px;
  text-align: justify;
}

/* blogs part ends  */

/* contact us  */
.contact-form {
  width: 50%;
  margin: auto;
  padding: 20px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.response {
  margin-top: 20px;
  font-weight: bold;
}

.contact-name input {
  width: 100%;
}

/* contact us  */
